﻿
@{
    ViewBag.Title = "Index";
}

<h2>Wybierz typ wycieczki</h2>
@{
    List<SelectListItem> tripTypeList = new List<SelectListItem>()
    {
        new SelectListItem(){Value="1",Text="Krajowa" },
        new SelectListItem(){ Value="2",Text="Zagraniczna"}
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Label("Wybierz typ podróży:",new {@class= "" })
    @Html.DropDownList("tripType",tripTypeList);

    <button class="ui inverted green button" type="submit">Potwierdź</button>
}

</br>

@if (TempData["Message"]!=null)
{<div>@Html.Label(TempData["Message"].ToString(), new { @class = "ui grey label" })</div>
}